$text-color-a8642a: #a8642a;
.type-1563{
    *{
        margin: 0;
        padding: 0;
    }
    html{
        overflow-x: hidden;
    }
    li{
        list-style: none;
    }
    .nl-bg-image-8{
        position: relative;
        &:hover {
            .image-box{
                opacity: 0.7;
            }
        }
    }
    .nl-img-8-1{
        background-image: url(../images/8.png);
    }
    .image-box {
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            padding-top: 100%; /* initial ratio of 1:1*/
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            background-size: cover;
            background-position: center;
        }
    }
    .text-color-a8642a{
        color: $text-color-a8642a;
    }
    .nl-8-line-bottom{
        text-align: center;
        font-family: "PT Serif";
        font-size: 20px;
        font-style: italic;
        line-height: 1.2em;
        margin: 25px 0 20px;
        span{
            position: relative;
            font-family: "PT Serif";
            font-size: 20px;
            font-style: italic;
            line-height: 1.2em;
        }
    }
    .nl-text-fs-gall {
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            overflow: visible;
            path {
                stroke-width: 4px;
                stroke: #a8642a;
                fill: none;
                stroke-dasharray: 1500;
            }
        }
    }
    @media (min-width: 576px){
        .nl-bg-image-8 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    @media (min-width: 768px){
        .nl-bg-image-8 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
            max-width: 12.5%;
        }
    }
}