.type-1587 a {
  text-decoration: none; }
  .type-1587 a:hover {
    text-decoration: none; }
.type-1587 .nl-h1 {
  text-align: center;
  font-family: "PT-safrit"; }
.type-1587 .ul-list-link-17 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 65px; }
  .type-1587 .ul-list-link-17 li {
    list-style: none; }
    .type-1587 .ul-list-link-17 li a span {
      display: inline-block;
      color: #000;
      padding: 5px 0;
      margin: 0 10px;
      text-transform: uppercase;
      font: 14px / 18px "Roboto", Helvetica, Arial, Verdana, sans-serif; }
      .type-1587 .ul-list-link-17 li a:hover span {
        color: #a95a43;
        border-bottom: 1px solid #a95a43; }
    .type-1587 .ul-list-link-17 li a .active {
      color: #a95a43;
      border-bottom: 1px solid #a95a43; }
.type-1587 .nl-div-img img {
  width: 100%;
  height: auto; }
.type-1587 p {
  text-align: center; }
  .type-1587 p .title-item {
    display: inline-block;
    padding-top: 25px;
    font-size: 20px;
    color: #000;
    font-family: "PT-safrit"; }
    .type-1587 p .title-item:hover {
      color: #a95a43; }
.type-1587 .btn-read-more {
  display: block;
  margin: auto;
  padding: 8px 10px;
  font-size: 10px;
  line-height: 12px;
  border-radius: 0px;
  border: 0;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 45px; }
  .type-1587 .btn-read-more .nl-arrow-17 {
    display: inline-block;
    width: 5px;
    height: 9px;
    margin-right: 0;
    margin-left: 7px;
    position: relative; }
    .type-1587 .btn-read-more .nl-arrow-17:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: #fff;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
  .type-1587 .btn-read-more:hover {
    background-color: #a95a43; }
.type-1587 .nl-list-category, .type-1587 .nl-list-category a {
  color: #a5a8aa;
  font-size: 12px;
  position: relative; }
  .type-1587 .nl-list-category .arrow-circle, .type-1587 .nl-list-category a .arrow-circle {
    margin-left: 15px; }
    .type-1587 .nl-list-category .arrow-circle:after, .type-1587 .nl-list-category a .arrow-circle:after {
      position: absolute;
      left: -8px;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 3px;
      content: "";
      border-radius: 50%;
      background-color: #a5a8aa; }
