%nl-font-pt{
    font-family: "PT Serif", sans-serif;
}
.type-1577{
    text-align: center;
    .nl-div-img-12{
        img{
            height: auto;
            width: 100%;
        }
    } 
    a{
        text-decoration: none;
        @extend %nl-font-pt;
        span{
            text-transform: uppercase;
            color: #000;
            margin: auto;
            font-size: 14px;
            font-weight: 700;
        }
        &:hover{
            text-decoration: none;
        }
    }
    
    div{
        @extend %nl-font-pt;
    }
    span{
        @extend %nl-font-pt;
    }
    .name-brand{
        margin-top: 10px;
        display: inline-block;
    }
    .name-item{
        text-align: center;
        a{
            color: #000;
            @extend %nl-font-pt;
            font-size: 14px;
            font-style: italic;
            line-height: 1.4em
        }
    }
    p{
        .price{
            font-style: italic;
        }
        .price-old{
            color: #999;
            margin-right: 5px;
        }
    }
    .nl-btn-sn{
        background-color: #000;
        border: 0;
        color: #fff;
        font-size: 10px;
        font-family: "Roboto",sans-serif;
        padding: 6px 10px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 15px;
        margin-bottom: 30px;
        display: inline-block;
        &:hover{
            background-color: #a95a43;
            cursor: pointer;
        }
    }
        
}