$font-pt-saerif: "PT Serif";
$text-center: center;
.type-1572{
    font-size: 16px;
    .nl-h1{
        font-family: $font-pt-saerif;
        text-transform: uppercase;
        text-align: $text-center;
        margin-top: 80px;

    }
    .nl-text-firt-big{
        font-family: $font-pt-saerif;
        display: block;
        float: left;
        line-height: 1;
        font-size: 50px;
        margin-right: 10px;
    }
    p{
        margin-bottom: 10px;
    }
    .nl-row-style-10{
        max-width: 1000px;
        margin: auto;
    }

    .nl-ul-s10{
        padding: 30px;
        li{
             list-style: none;
             padding-bottom: 5px;
             line-height: 27px;
            i{
                font-size: 11px;
            }
            span{
                padding-left: 5px;
            } 
        }
    }
    .ul-list-link{
        text-align: $text-center;
        padding: 0;
        li{
            position: relative;
            display: inline-block;
            margin: 0 10px;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1.3em;
            &:after{
                position: absolute;
                content: "";
                border-color: rgba(0,0,0,.09);
                width: auto;
                left: auto; 
                height: 100%;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                border-left: 1px solid rgba(0,0,0,.09);
                right: -10px;
            }
            &:last-child::after{
                border: 0;
            }
        }
     }
    .nl-link-s10{
        color: #a5a8aa;
    }
    a:hover{
        text-decoration: none;
    }
}
